
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Abhishek's First Website</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap -->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- ----------------------------------- -->
  <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body class="back" background="assets/images/photo-1579546929662-711aa81148cf.jpg">
  <!-- Build your first site here -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/images/800_3684860_z51lai6usq1oxp73i9vzu21a2vrk3jv5keo3p7vo_gm-monogram-logo-design.jpg" width = "10%" height="10%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        -->
        <li> <a class="nav-link" href=""> Abhishek Edited </a> </li>
        <li> <a class="nav-link" href="#header"> Home </a> </li>
        <li> <a class="nav-link" href="#about"> About </a> </li>
        <li> <a class="nav-link" href="#myprojects"> Projects </a> </li>
        <li> <a class="nav-link" href="#contact"> Contact </a> </li>
        <li> <a class="nav-link" href="https://www.facebook.com/profile.php?id=100007826769641"> Facebook </a> </li>
        <li> <a class="nav-link" href="https://twitter.com/gauravmehta1091"> Twitter </a> </li>
        <li> <a class="nav-link" href="https://www.instagram.com/gauravmehta621/"> Instagram </a> </li>
        <li> 
          <a class="nav-link" href="https://www.linkedin.com/in/gaurav-mehta-402772194/"> Linkedin </a> 
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Welcome to Abhishek's world!</h1>
    <p class="lead">Hello Guys, Welcome to my world of knowing me. This is a simple website to build up carrer and my passion towards programming skills. I am at a very basic level now, so it will look like a basic website,but I am gonna work hard on it and make it a best one. I created it as my per my current knowledge, lots of things need to be added soon.</p>
    <!--p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p-->
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Why do I create this website!</h1>
    <p class="lead">So, As our mentor told us all that, we do need a website someday, and every successful person have a website, before they become successful, that inspires me the most to get into this course and build my very own website for the first time.<br>
      One more reason for this is for the interview preparation, in which anyone can get to know about me. I am going to add multiple things of my acchivement and my contact details in this website that helps a lot to someone who gotta know more about my carrer, passion, achievements, future goals and many other things.</p>
    <!--p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p-->
  </div>

<section id="about" class="row">
  <div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">About me</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mr-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">My Projects</h5>
            <p class="card-text">I have no Projects still, but I am working on it soon.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">My field of Study</h5>
            <p class="card-text">I am pursuing MCA from Maulana Azad National Institute of Technology, Bhopal<br></p>  
            <button type="button" class="btn btn-success">More about me</button>
          </div>
          <hr class="my-4">
          <div class="card-body">
            <h5 class="card-title">My skills/Coding Platform</h5>
            <p class="card-text"> Command in C/C++, Data Structure.<br>A very basic introduction to HTML, CSS and bootstrap.<br> I am a two star coder in CodeChef, have gold batch in programing skills and C++ in hackerrank. </p>  
          </div>

        </div>
      </div>
    </div>
  </div>
</section>  
        <section id="contact" class="container mt-4">            
          <div class="card">
            <div class="card-header">
              <h1> Contact Me </h1>                                    
            </div>
            <div class="card-body">
              <form>
              <div class="form-group">
                <label for="inputEmail1">Email address</label>
                <input placeholder="Your Email" type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
              </div>
                <div class="form-group">
                  <label for="inputName">Name</label>
                  <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                  <small id="nameHelp" class="form-text text-muted">Please let me know your name.</small>
                </div>

                <div class="form-group">
                  <label for="formControlTextarea1">Your Message</label>
                  <textarea class="form-control" id="formControlTextarea1" rows="6"></textarea>
                </div>
                <button class="btn btn-lg btn-outline-success">Send Message</button>
              </form>
            </div>
          </div>            
        </section> 
  <h1 class="my-name text-center"> Abhishek </h1>



    <!-- Footer -->
    <footer class="page-footer text-center font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        Built with love during <a href="https://www.scaler.com/edge/">Scaler Edge</a> Workshop.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>
